# coffeelint: disable=max_line_length
'.source.shell.ebuild':
  'EAPI 6 Template':
    'prefix': 'eapi'
    'body': """
      # Copyright 1999-${1:2018} Gentoo Foundation
      # Distributed under the terms of the GNU General Public License v2
      # $Header: $

      EAPI=${2:6}
      DESCRIPTION="${3}"
      HOMEPAGE="${4}"
      SRC_URI="${5}"

      LICENSE="${6}"
      SLOT="${7:0}"
      KEYWORDS="${8}"
      IUSE="${9}"

      DEPEND="${10}"
      RDEPEND="${11:${10}}"

      $0
    """
