# coffeelint: disable=max_line_length
'name':       'Gentoo use file'
'scopeName' : 'source.gentoo.use'
'fileTypes': ['use']
'patterns': [
  {
    'include': 'source.gentoo'
  },
  {
    'match': '^#.*\\n'
    'name': 'comment'
  },
  {
    'include': '#gentoo-use-line'
  }
]
'repository':
  'gentoo-use-line':
    'patterns': [
      {
        'match': "\\s([^-][a-z0-9-]+)"
        'captures':
          '1':
            'name': 'use-flag.add'
      },
      {
        'match': "\\s(-[a-z0-9-]+)"
        'captures':
          '1':
            'name': 'use-flag.remove'
      }
    ]
