'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Gentoo Commands'
        'submenu': [
          {
            'label':   'Update ebuild manifest'
            'command': 'ebuild:digest'
          }
        ]
      }
    ]
  }
]
